<h1>User Show page</h1>
<p> This is the user Show page </p>
<%# details of the User post %>
<div>
  <p>User ID: <%= @user.id %></p>
</div>
<div>
  <p>User Name: <%= @user.name %></p>
</div>
<div>
  <p>User Email: <%= @user.email %></p>
</div>